.hero.is-bold {
  margin-bottom: calc(-88px - 1.5em);
}
#notification-container {
  position: -webkit-sticky; /* for safari */
  position: sticky;
  bottom: 0.5em;
  width: 250px;
  height: 88px; /* height of a bulma notification */
  margin-left: calc(100vw - 250px - 0.5em);
  z-index: 9;
}
#charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
}

/* make sure initial load looks smooth */
#navbar {
  min-height: 52px;
}

#chart-container-insights,
.hero-body > .columns > .column > .box {
  min-height: 325px;
}
/* for chartjs */
/* view-source:https://www.chartjs.org/samples/latest/charts/line/line-styles.html */
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
